body {
    -webkit-text-size-adjust: 100%;
    font-family: "Merriweather";
    font-size: 1vw;
    -webkit-border-radius: 100px;
    height: 100%;
    padding: 0;
    margin: 0;
    direction: ltr;
    unicode-bidi: isolate;
    display: block;
}
h1 {
    font-family: "PT Sans";
    font-size: 4vw;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
    color: rgba(0, 102, 56, 1);
}
h2 {
    font-family: "PT Sans";
    font-size: 3vw;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
    color: rgba(0, 102, 56, 1);
}
h3 {
    font-family: "PT Sans";
    font-size: 2.5vw;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 15.4px;
    color: rgba(0, 102, 56, 1);
}
li {
    display: list item;
    text-align: webkit-match-parent;
}

#menu {
    position: sticky;
    background-color: black;
    width: 100%;
    box-sizing: border-box;
    table-layout: fixed;
    min-width:100%;
    z-index: 10;
    max-height: 4vw;
    top: 0;
    display: block;
}
.menu2 {
    
}
.title {
    color: white;
    list-style-type: none;
    visibility: visible;
    display: table-cell;
    vertical-align: middle;
    top: 0;
    box-sizing: border-box;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.image-icon {
    margin: 0;
    position: relative;
    display: inline-block;
    top: 50%;
}

.icon {
    height: 3vw;
    width: auto;
    vertical-align:middle;

}
.texttitle {
    line-height: 1;
    outline: none;
    overflow:hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    vertical-align: middle;
    cursor: pointer;
    display: inline-block;
    padding-left: 12px;
    font-family: PT Sans;
    font-size: 1.75vw;
    font-weight: 700;
    color: white;
    

}
.navegation {
    list-style-type: none;
    visibility: visible;
    display: table-cell;
    text-align: right;
    vertical-align: middle;
    direction: ltr;
    box-sizing: border-box;
    padding-left: 12vw;
}
.lists {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    text-align: right;
    display: block;
}
.fontMenuList {
    color: rgba(255, 255, 255, 0.87);
    font-family: "PT Sans";
    font-size: 1.75vw;
    font-weight: 400;
    display: inline-block;
    overflow: hidden;
    padding: 10px 12px;
    vertical-align: middle;
    position: relative;
}
.fontMenuList:hover {
    color: white;
}
.topico {
    display: inline-block;
    max-width: 300px;
    overflow: visible;
    position: relative;
    text-align: left;
    transition: opacity 0ms 300ms;
    vertical-align: middle;
    white-space: nowrap;
}

.welcome-section {
    width: 100%;
    height: 100%;
}

.text-center {
    color: white;
    -webkit-text-size-adjust: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    font-family: "Amatic SC";
    font-size: 5vw;
    max-height: 12vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.container {
    float: left;
    padding: 1px;
    text-align: center;
    position: relative;
    height: auto;
    width: 24%;
}
/* Make the image to responsive */
.image {
    width: 100%;
    height: auto;
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 102, 56, 0.75);
    overflow: hidden;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transition: 0.2s ease;
}

.text {
    color: white;
    font-family: "Bree Serif";
    font-size: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.container:hover .overlay {
    transform: scale(1);
}
.container:not(:hover) .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    overflow: hidden;
    width: 100%;
    height: 100%;
    transform: scale(1);
    transition: 0.2s ease;
}
